body {
  background-color: white;
}

.control {
  margin-bottom: 10px;
}

pre.text-results {
  margin-top: 10px;
}

.nav-tabs {
  margin-top: 20px;
}

.footer {
  margin-bottom: 25px;
  background-color: #eee;
  border-top: 1px solid #999;
  padding: 20px;
}

.well {
  margin-top: 20px;
}

.alert-danger {
  margin-top: 10px;
}

th.numeric, td.numeric{
  text-align: right;
}

#scratch {
  color: white !important;

  table { color: white !important; }

  a { color: white !important; }
}

